/* MOBILE STYLES ------------------------------------------------------------*/
.header-animado {
  $h: 300px;
  $w_cenario: 2400px;
  background-color: $main-color;
  width: 95vw;
  box-shadow: 0 12px 11px -7px rgba(0, 0, 0, 0.8);
  max-height: 90vh;
  overflow: hidden;
  padding-top: 26px;

  .container {
    max-width: 90%;
    margin: auto;
  }

  &__title {
    color: darken($main-color, 30%);
    font-size: 30px;
    font-weight: bold;
  }

  &__subtitle {
    color: white;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
  }

  &__ilustra {
    background-image: url(../../../assets/img/cenario_all_960.png);
    height: $h / 2;
    background-size: auto 100%;
    background-position: center top;

    & > div {
      display: none;
      width: $w_cenario * 2;
    }

    @mixin anima($imagem, $tempo, $direcao: reverse) {
      background-image: url(../../../assets/img/cenario_#{$imagem}.png);
      animation: anima_cenario #{$tempo} linear infinite #{$direcao};

      @keyframes anima_cenario {
        from {
          transform: translateX(-50%) translateY(0);
        }
        to {
          transform: translateX(0%) translateY(0);
        }
      }
    }

    @media screen and(min-width: 960px) {
      background-image: url(../../../assets/img/cenario_bg.png);
      height: $h;
      position: relative;

      & > div {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      $anima_elements: "nuvens" 90s reverse, "casas" 30s reverse,
        "rua" 30s reverse, "carrosCima" 15s reverse, "carrosBaixo" 15s normal;

      @each $el, $tempo, $dir in $anima_elements {
        .#{$el} {
          @include anima(#{$el}, $tempo, $dir);
        }
      }
    }
  }
}
/* MEDIA QUERY --------------------------------------------------------------*/
@media (min-width: $screen-sm-min) {
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
}
